
<!-- Footer content -->
<footer id="footer" role="contentinfo" class="layout-container">
    <div class="layout-container-inner clearfix">

        <!-- social links -->
        <div class="footer-social-links">

            {% include "html/sections/social-icons.html.twig" %}

        </div>

        <div class="footer-links">
            <ul class="nav nav-stripped nav-line-separators">
                {{ footer.menu }}
            </ul>
        </div>

        <hr>

        <!-- address -->
        <div class="footer-address">
            {{ company.address_line }}
            <br>Registered in England and Wales
            - Company Number: {{ company.company_reg_num }}
            - VAT Number: {{ company.vat_num }}
        </div>

        <p>
            Telephone:
            <a href="tel:{{ company.phone_number }}">
                <i class="fa fa-phone"></i>
                {{ company.phone_number }}
            </a>
            | Email:
            <a href="mailto:{{ company.email | safe_email }}">
                <i class="fa fa-envelope"></i>
                {{ company.email | safe_email }}
            </a>
        </p>

        <!-- copyright notice -->
        <p>
            <small>
                {{ COPYRIGHT_L }} {{ date.year }} {{ company.name }}. {{ FOOTER_ACM_LINE_1 }} {{ FOOTER_ACM_LINE_2 }}
                <br>
                {% if TERMS_POLICY_URL %}<a href="{{ TERMS_POLICY_URL }}">Terms &amp; Conditions</a> |{% endif %}
                {% if PRIVACY_POLICY_URL %}<a href="{{ PRIVACY_POLICY_URL }}">Privacy Policy</a> |{% endif %}
                <a title="Review your cookie settings with our site." onclick="CookiePolicy.show(); return false;" href="#">Cookie Policy &amp; Settings</a>
            </small>
        </p>

        {# Card icons #}
        {% if setup.is_shop %}
            <p class="footer-ecommerce-card-icons">
                <i title="PayPal accepted" class="fa fa-cc-paypal"></i>
                <i title="Visa accepted" class="fa fa-cc-visa"></i>
                <i title="Mastercard accepted" class="fa fa-cc-mastercard"></i>
                <i title="Other credit cards accepted" class="fa fa-credit-card-alt"></i>
            </p>
        {% endif %}

    </div>
</footer>
