{% if setup.show_facebook %}
    <a href="{{ setup.facebook_url }}" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
{% endif %}

{% if setup.show_twitter %}
    <a href="{{ setup.twitter_url }}" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
{% endif %}

{% if setup.show_instagram %}
    <a href="{{ setup.instagram_url }}" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </a>
{% endif %}

{% if setup.show_pinterest %}
    <a href="{{ setup.pinterest_url }}" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-pinterest-p fa-stack-1x fa-inverse"></i>
    </a>
{% endif %}

{% if setup.show_yelp %}
    <a href="{{ setup.yelp_url }}" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-yelp fa-stack-1x fa-inverse"></i>
    </a>
{% endif %}

{% if setup.show_youtube %}
    <a href="{{ setup.youtube_url }}" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
    </a>
{% endif %}

{% if setup.show_linkedin %}
    <a href="{{ setup.linkedin_url }}" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </a>
{% endif %}

{# <a href="/feed.rss" class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
</a>

<a href="/sitemap.xml" class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
</a> #}

<a href="#header" title="Back to top" class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
</a>

<a href="{{ footer.contact_page }}" class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
</a>